@import "hero.css";
@import "button_start.css";
@import "logo.css";
@import "commons.css";
@import "list.css";
@import "title.css";
@import "imgP.css";
@import "titleP.css";
@import "textP.css";
@import ".css";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";
@import "";

body{
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
}