.logo {
    position: absolute;
    width: 0px;
    margin-top: 5%;  
    margin-left: 85%;
    border-radius: 10%;
    transition: transform 0.3s;
    transform: translateX(-50%);
}

.logo:hover {
    transform: scale(120%) translateX(-38%);
}