.textP {
    position: absolute;
    color: white;
    font-size: 20px;
}

.textP1 {
    margin-top: 12.5%;
    margin-left: 20%;
}

.textP2 {
    margin-top: 12.5%;
    margin-left: 63%;
}

.textP3 {
    margin-top: 37.5%;
    margin-left: 20%;
}

.textP4 {
    margin-top: 37.5%;
    margin-left: 63%;
}