.titleP {
    position: absolute;
    color: white;
    font-size: 25px;
    transition: font-size 0.2s;
    text-shadow: white 1px 0 15px;
}

.titleP1 {
    margin-top: 10%;
    margin-left: 20%;
}

.titleP2 {
    margin-top: 10%;
    margin-left: 63%;
}

.titleP3 {
    margin-top: 35%;
    margin-left: 20%;
}

.titleP:hover {
    font-size: 27px;
}